#SecondPage .img-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
#SecondPage .img-box img {
  width: 100%;
}
#SecondPage .action-bar {
  height: 50px;
  line-height: 50px;
  width: 60px;
  background: #f2f2f2;
  text-align: center;
  color: gray;
}
